[Desktop Entry]
Type=Application
Exec=/bin/bash -c "while true; do /usr/bin/conky; done"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=conky
Name=conky
Comment[en_US]=
Comment=
